# This file describes a Fastly Compute@Edge package. To learn more visit:
# https://developer.fastly.com/reference/fastly-toml/

authors = [""]
description = "An empty starter kit project template."
# If we set this to `rust`, we can do almost operation easily.
# But then we cannot run `cargo test` without [cargo-wasi](https://github.com/bytecodealliance/cargo-wasi).
# On the other hand, `cargo wasi test` (`cargo test --target wasm32-wasi` + run test codes with wasmtime)
# would be fail if we try to run unit tests which uses `fastly::Response`.
# So we give up to use fastly CLI's preset...
language = "other"
manifest_version = 2
name = "fastly-compute-at-edge-template"
service_id = ""
