name: Release to production

on:
    release:
        # By documents, `released` event is dispatched even if we change pre-release to release.
        # I think this is more better for our workflow.
        #
        #   - https://docs.github.com/en/github-ae@latest/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#release
        #   - https://docs.github.com/en/github-ae@latest/actions/using-workflows/events-that-trigger-workflows#release
        types:
            - released

permissions:
    contents: read

# see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
concurrency:
    # This workflow should run exclusively at once.
    # So we use uuid v4. We may be able to use `${{ github.workflow }}` instead.
    group: "70aaa7f9-5eb0-4fe1-9f08-364fe7624ef9"
    cancel-in-progress: true

jobs:
    ci:
        uses: ./.github/workflows/_ci.yaml

    deploy:
        needs: [ci]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - uses: ./.github/actions/download_build_artifacts
              with:
                  git-sha: ${{ github.sha }}
                  release-channel: production
                  build-type: release
            # TODO(#7)
